H1 {
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: bold;
    color: #233;
    letter-spacing: 1.4px;
    border-bottom: solid 1px #FFF;
    text-transform: uppercase;
}
H2 {
    font-family: Georgia, serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1.2px;
    color: #009900;
}
P {
    font-family: Verdana;
    font-size: 11px;
    color: #555555;
    line-height: 1.5;
    letter-spacing: .25px;
}
